/* ---------------GLOBAL------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F7E5CF;
}

/*_________________GLOBAL________________*/

/* ---------------FONTES-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');


/*_________________FONTES________________*/


/* ---------------NAVBAR-----------------*/
.ulNavBarPrincipal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Montserrat";
    background-color: #D1B898;
    border: none;
}

.ulNavBarPrincipal .divNavBar {
    font-family: "Montserrat";
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.ulNavBarPrincipal .divImgLogo img {
    height: 60px;

}

.ulNavBarPrincipal .divBotao .ulBotao li {
    float: left;
    list-style-type: none;
}

.ulNavBarPrincipal .divBotao .ulBotao li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ulNavBarPrincipal .divBotao .ulBotao li a:hover {
    background-color: #ddd;
}


/*_________________NAVBAR_______________*/


/*------------------------NavBartexte------------------------*/


.svgPerfil {
    display: flex;
    width: 60px;
    fill: #000000;
    color: #000000;
    align-items: center;
    justify-content: center;
}

/*_________________________NavBar______________________________*/


/*------------------------1Parte-Do-Site-----------------------------*/
.divFundoImagem{
    /* background-image: url('Imagem\ Museu\ Fundo.jpg'); */
    background-image: url('../assets/imgs/Imagem\ Museu\ Fundo.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.divPainelUmidade{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 20px;

}


.divVisualGeral {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.divVisualGeral h4 {
    font-family: sans-serif;
    
}

.divVisualGeral p {
    font-family: sans-serif;
}

.divSeçaoNormal {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 240px;
    height: 80px;
    background-color: #05FF00;
    border-radius: 20px;
    justify-content: center;
    color: #FFFFFF;
}

.divSeçaoRisco {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 310px;
    height: 100px;
    background-color: #CF0000;
    border-radius: 20px;
    justify-content: center;
    color: #FFFFFF;
}

.divSeçaoAlerta {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 240px;
    height: 80px;
    background-color: #FFB800;
    border-radius: 20px;
    justify-content: center;
    color: #FFFFFF;
}

.divAdicionarFundo{
    display: flex;
    justify-content: center;
}

.divAdicionarSecao{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 100px;
    background-color: #00000050;
    border-color: #FFFFFF;
    border-radius: 5px;
    align-items: center;
    flex-direction: row;    
}

.divAdicionarSecao .inputSecao{
    width: 250px;
    height: 20px;
    border-radius: 5px;
    margin-top: 20px;
    border: #000000;
    
}

.divAdicionarSecao h4{
    margin-top: 20px;
    color: #FFFFFF;
}

.divAdicionarSecao .botaoAdicionar{
    width: 80px;
    height: 20px;
    background-color: #F3E0C7;
    margin-top: 20px;
    /* border: #000000; */
}
/*_________________________1Parte-Do-Site______________________________*/

/*------------------------2Parte-Do-Site - Seção-----------------------------*/

.divSecaoAdicional{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
  
}

.divSecaoAdicional .divSecao1{
    width: 300px;
    height: 100px;
    /* background-color: #05FF00; */
    margin-bottom: 20px;
    margin-top: 20px;
    background-image: url('../assets/imgs/Museu\ seção\ 1.jpg');
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 3px solid #05FF00;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
    display: flex;
}



.divSecaoAdicional .divSecao2{
    width: 300px;
    height: 100px;
    /* background-color: #CF0000; */
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-image: url('../assets/imgs/Museu\ seção\ 2.jpg');
    color: #FFFFFF;
    border: 3px solid #CF0000;
    font-size: 25px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSecaoAdicional .divSecao3{
    width: 300px;
    height: 100px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-image: url('../assets/imgs/Museu\ seção\ 2.jpg');
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    font-size: 25px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSecaoAdicional .divSecao4{
    width: 300px;
    height: 100px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-image: url('../assets/imgs/Museu\ seção\ 1.jpg');
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    font-size: 25px;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*_________________________2Parte-Do-Site - Seção______________________________*/








/*------------------------FOOTER------------------------*/
.divFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #D1B898;
    width: 100%;
    height: 200px;
    /* position: absolute; */
    bottom: 0;
    left: 0;
}

.divCard1 {
    display: flex;
    border-right: solid 2px #43020B;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 160px;
}

.divCard2 {
    display: flex;
    border-right: solid 2px #43020B;
    flex-direction: row;
    width: 30%;
    height: 160px;
    font-family: "Montserrat";
    justify-content: center;
    align-items: center;
}

.divCard2Aux {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    width: 30%;
    margin: 10px;
}

.divCard3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    margin: 10px;
    width: 30%;
    height: 160px;
    align-content: start;

}

.imgLogoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

a {
    text-decoration: none;
    color: #000000;
}

/*_________________________FOOTER______________________________*/